{% load rest_framework %}
{% load bootstrap4 %}
{% bootstrap_css %}
<style type="text/css">
    .sidenav {
      height:100%;
      width:160px;
      position: fixed;
      z-index:1;
      top:0;
      left:0;
      background-color:#111;
      overflow-x: :hidden;
      padding-top:20px;
    }
 
    .sidenav a {
      padding:6px 8px 6px 16px;
      text-decoration: none;
      font-size:25px;
      color: #818181;
      display:block;
    }
 
    .sidenav a:hover{
      color:#f1f1f1;
    } 
 
    .main{
      margin-left:160px;
      padding: 0px 10px;
    }
 
  </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html>
<script>  
  $(document).ready(function(){

    $('.device_entry').on('click', function(event){
      var device_pk = $(this).attr('id')
      request_url = "/sec_gate/anomaly/"+device_pk +"/"  

         $.ajax({
            type: "POST",
            url: request_url
          }).done(function(response){

            console.log(response)
         
          });

    });

    $('.detect').one('click', function(event){
      var device_pk = $(this).attr('id')
      var key ="#anomaly"+device_pk
      $(key).text("Anomaly!")

    })


  });
</script>
<body>
<div class="sidenav">
    <a href="/sec_gate/classification/panel/train/">Train Model</a>
  <a href="#">Identify Device</a>
  <a href="#">Detect Anomaly</a>
</div>

<div class="main">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h2><a class="navbar-brand" href="#"><b>List of Connected Devices</b></a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<button type="button" class="btn btn-primary btn-lg btn-block">Renew State</button>

<div>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Mac Address</th>
      <th scope="col">IP Address</th>
      <th scope="col">Total TCP Packet</th>
      <th scope="col">Device Type</th>
      <th scope="col">Model Trained</th>
      <th scope="col">Model Update Time</th>
      <th scope="col">Train Baseline</th>
      <th scope="col">Detect Anomaly</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
      <tr id = {{device.id}} >
        <td id ={{device.id}} >{{device.id}}</td>
        <td>{{device.device_mac_address}}</td>
        <td>{{device.device_ip_address}}</td>
        <td>{{device.packet_count}}</td>
        <td>{{device.device_type}}</td>
        <td>{{device.model_trained}}</td>
        <td>{{device.updated_time}}</td>
        <td><button type="button" class="btn btn-primary device_entry" id = {{device.id}} >Train</button></td>
        <td><button type="button" class="btn btn-danger detect" id = {{device.id}} >Detect</button></td>
        <td class="result" id="anomaly{{device.id}}">N/A</td>
        <td><button type="button"></buttson>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<div>
<panel>
  Hello
</panel>
</div>

</div>
</body></html>